body {
    display: grid;
    justify-items: center;
}

form {
    background: rgb(227, 223, 223);
    width: 360px;
    border-radius: 12px;
    padding: 12px 24px;
}
div {
    margin: 14px 0 0;
    color: rgb(125, 170, 255);
}
input {
    width: -webkit-fill-available;
    padding: 12px 8px;
    border: 2px solid rgb(125, 170, 255);
    border-radius: 12px;
}

button {
    width: 100%;
    height: 42px;
    border: none;
    border-radius: 12px;
    margin: 8px 0;
    color: #fefefe;
    background: rgb(125, 170, 255);
    font-size: 12px;
    cursor: pointer;
    transition: .3s cubic-bezier(0.075, 0.82, 0.165, 1);
}

button:hover {
    background-color: rgb(125, 170, 255);
}

.result {
    font-size: 18px;
    text-align: center;
    color: black;
}

.error {
    background: rgb(230, 175, 175) !important;
    border-color: rgb(250, 140, 140);
}

p {
    margin: 0;
    color: rgb(250, 140, 140);
}