.container {
    display: flex;
    height: 100vh;
    background-color: aliceblue;
    align-items: baseline;
    justify-content: space-between;
}

.container .box {
    width: 120px;
    height: 360px;
    /* background-color: rgb(230, 70, 70); */
    font-size: 2rem;
}

.dashed {
    width: 100%;
    border: 3px dashed black;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.box1{
    background-color: #ff822e;
    order: 4;
}
.box2{
    background-color:black ;
}
.box3{
    background-color: rgb(76, 230, 86);
    /* order: 2; */
}
.box4{
    background-color: rgb(91, 118, 237);
}
.box5{
    background-color: rgb(196, 78, 179);
    /* order: 1; */
}

@media print {
    .container {
        flex-direction: column;
    }
}