@import url('https://fonts.googleapis.com/css2?family=Norican&family=Poppins:wght@100,200,300,400,500,600,700,800,900&display=swap');

body {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    font-family: 'Poppins', sans-serif;
    background-image: url('bg1.jpg');
    background-repeat: repeat-x;
    background-position: 0;
    animation:  trslt 2s linear infinite;
    animation-play-state: running;
    animation-fill-mode: both;
}

@keyframes trslt {
    0% {
        background-position-x: 0;
    }
    100% {
        background-position-x: 100%;
    }
}

.container h1 {
    font-size: 42px;
    font-weight: 900;
    margin: 0;
    color: hwb(0 100% 0% / 0.8)
}

.container p {
    color: hsla(0, 0%, 100%, 0.6);
    font-size: 18px;
    font-weight: 400;
}

.sm {
    display: flex;
    gap: 24px;
}
.sm div{
    border: 2px solid #fefefe;
    border-radius: 50%;
    width: 52px ;
    height: 52px;

    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all .4S ease;
}
.sm div:hover {
    background-color: #fefefe;
}
.sm div svg {
    width: 32px;
}
.sm div:hover svg {
    stroke: black;
}


